# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[client]  # 注: [client] group 是 所有的 mysql client 工具都会读取的配置文件
loose-default-character-set = utf8mb4   # 加 loose- 前缀是为解决 [mysqlbinlog] group 不识别该 选项的 问题

[mysql]
default-character-set = utf8mb4

[mysqlbinlog]
set_charset=utf8mb4

[mysqld]
# 设置 mysql 字符集为 utf8mb4
character-set-client-handshake = FALSE  # 忽略 client 端的 character set 设置
character-set-server = utf8mb4    # 设置了 character-set-server 的 同时也应该设置 collation-server
collation-server = utf8mb4_unicode_ci

# 启用 skip-name-resolve 不仅能优化性能(特别是在 DNS 很慢或有许多hosts时),
# 还能 解决 本示例中 权限的问题, 因为本示例中 用户都是基于 ip 地址创建并授权的,
# 如 'repluser'@'192.168.175.102', 如果不启用 skip-name-resolve,
# 则 在某时候 可能会去 检查账号 'repluser'@'slave02' 的授权, 因为本示例未对 'repluser'@'slave02'
# 授权, 导致 因权限拒绝 而 访问失败, 从而无法正常实现 replication 功能.
#   --skip-name-resolve:  Don't resolve hostnames. All hostnames are IP's or 'localhost'.
#   https://dev.mysql.com/doc/refman/5.7/en/server-options.html#option_mysqld_skip-name-resolve
#   https://dev.mysql.com/doc/refman/5.7/en/host-cache.html
skip-name-resolve=ON


# 如下 4 行 配置 是与 replication 和 gtid 相关的 配置
log-bin=master-bin
server-id=100   # server-id 范围: 1 and (232)−1
gtid_mode=ON    # ON: Both new and replicated transactions must be GTID transactions.
enforce-gtid-consistency=true  # ON: no transaction is allowed to violate GTID consistency.

# 关于 系统变量 gtid_mode 和 enforce-gtid-consistency 的信息, 见:
#  https://dev.mysql.com/doc/refman/5.7/en/replication-options-gtids.html#sysvar_gtid_mode
#  https://dev.mysql.com/doc/refman/5.7/en/replication-options-gtids.html#sysvar_enforce_gtid_consistency

# 注:
#    因为是在 mha 高可用环境中, 所以 master 的 角色不是一成不变的, 其本省也 可能转换成 slave 角色,
#    所以同样需要其 扮演 slave 时的 slave 相关配置
# 此例中 打算 使用 TABLE 记录 master_info 和 relay_log_info
# 一些 mysql replication 的 最佳实践(best practices) 指南 见 https://www.percona.com/sites/default/files/presentations/Replication-webinar.pdf
master_info_repository=TABLE
relay_log_info_repository=TABLE
relay-log-recovery=1

#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
