<div>
	<a href='/httpresponse_action/'> return HttpResponse('hello world') </a>
</div>
<div>
	<a href='/redirect_action/'> return redirect('http://www.baidu.com') </a>
</div>
<div>
	<a href='/render_action/'> return render(request, 'index.html') </a>
</div>
<div>
	<a href='/get_request_form/'> get_request_action </a>
</div>
<div>
	<a href='/post_request_action/'> post_request_action </a>
</div>
<div>
  <a href='/urlparam_pattern/1234567'>
    <xmp>
      re_path('urlparam_pattern/\d+', hello.urlparam_pattern)
    </xmp>
  </a>
</div>
<div>
  <a href='/urlparam_pattern_group/10/333'>
    <xmp>
      re_path('urlparam_pattern_group/(\d+)/(\d+)', hello.urlparam_pattern_group)
    </xmp>
  </a>
</div>
<div>
  <a href='urlparam_named_pattern_group/11/333'>
    <!--
      https://stackoverflow.com/questions/4707878/how-do-i-insert-code-examples-into-an-html-file
    -->
    <xmp>
      re_path('urlparam_named_pattern_group/(?P<userid>\d+)/(?P<bookid>\d+)', hello.urlparam_named_pattern_group),
    </xmp>
  </a>
</div>

<div>
  <a href='urlparam_var_args/11/333'>
    <xmp>
      re_path('urlparam_var_args/(\d+)/(\d+)', hello.urlparam_var_args)
    </xmp>
  </a>
</div>
<div>
  <a href='urlparam_var_kwargs/11/333'>
    <xmp>
      re_path('urlparam_var_kwargs/(?P<userid>\d+)/(?P<bookid>\d+)', hello.urlparam_var_kwargs)
    </xmp>
  </a>
</div>
<div>
  <a href='/url_tag_demo01/'> url_tag_demo01 </a>
</div>

<div>
  <a href='/url_tag_demo02/11/22'> /url_tag_demo02/11/22 </a>
</div>

<div>
  <a href='/url_reverse_fn01/11/22'> /url_reverse_fn01/11/22 </a>
</div>

<div>
  <a href='/url_reverse_fn02/11/22'> /url_reverse_fn02/11/22 </a>
</div>

<div>
  <a href='/url_reverse_fn03/11/22'> /url_reverse_fn03/11/22 </a>
</div>
<div>
  <a href='/url_reverse_fn04/11/22'> /url_reverse_fn04/11/22 </a>
</div>

<div>
  <a href='/app01/url_dispatcher_demo01/'> /app01/url_dispatcher_demo01/ </a>
</div>

<div>
  <a href='/escape_html_demo/'> /escape_html_demo/ </a>
</div>
















